html,
body {
    margin: 0;
    padding: 0;
}

[x-cloak] {
    display: none !important;
}

#http-method {
    flex: none !important;
    width: 115px
}

#response-container {
    max-height: 400px;
    overflow-y: scroll;
}